<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94135687117-pdhnsvd8n6ohe80d8dqr8d0ifv6i80o9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94135687117-pdhnsvd8n6ohe80d8dqr8d0ifv6i80o9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>94135687117-ml1mkjo1ddan2f67g0esu9a7r0edjslh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBKnxvQJWoCbEVKNjjiBA3uZmBLfn4Kng8</string>
	<key>GCM_SENDER_ID</key>
	<string>94135687117</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fixiply.bab</string>
	<key>PROJECT_ID</key>
	<string>beandbrew</string>
	<key>STORAGE_BUCKET</key>
	<string>beandbrew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94135687117:ios:bf0935c8fb93be4eca1684</string>
</dict>
</plist>